@import url('https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&family=Lato&family=Open+Sans&display=swap');

.category {
    padding: 10px 16px;
    margin-top: 12px;
    box-shadow: inset 0 0 15px rgb(206, 203, 99), 0 0 30px #021101;
    border: none;
    outline: none;
    font-family: 'Acme', sans-serif;
    font-size: 14px;
    width: 250px;
    cursor: pointer;
    
}

.category-container {
    margin-bottom: 25px;
}

.category-option {
    cursor: pointer;
}