@import url('https://fonts.googleapis.com/css2?family=Acme&family=Indie+Flower&family=Lato&family=Open+Sans&display=swap');

.main {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 270px;
    margin-top: 70px;
}

.start {    
    padding: 12px 20px;
    margin-top: 12px;
    opacity: 0;
    border: none;
    box-shadow: inset 0 0 15px  rgb(55, 11, 143), 0 0 30px #021101;
    border-radius: 10px;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    width: 180px;
    cursor: pointer;
    outline: none;
}

.score {
    font-family: 'Acme', sans-serif;
    font-size: 24px;
    color: white;
    margin-top: 12px;
}

.img {
    width: 100px;
}

.next {
    padding: 12px;
    margin-top: 12px;
    width: 180px;
    box-shadow: inset 0 0 5px rgb(55, 11, 143), 0 0 15px #021101;
    font-size: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    font-family: 'Acme', sans-serif;
    border-radius: 4px;
}

@media(max-width: 500px){
    .logo {
        width: 250px;
        margin-top: 50px;
    }
    .start {
        width: 150px;
    }
}

@media(max-width: 975px){
    .logo {
        margin-top: 80px;
    }
}