html, body, #root, .app, .main {
    height: 100%;
    width: 100%;
}
  
.app {
    background-image: url("https://img3.goodfon.com/wallpaper/nbig/1/85/priroda-peyzazh-derevo-derevya-845.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}